@page
@model Reloj_Marcador.Pages.ADM_Usuarios.IndexModel
@{
}

<h1>SIMULACIÓN ADM7</h1>

<p>
    <a class="btn btn-primary" asp-page="Create">Nuevo</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Identificacion</th>
            <th>Nombre</th>
            <th>Apellido1</th>
            <th>Apellido2</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Usuarios)
        {
            <tr>
                <td>@item.Identificacion</td>
                <td>@item.Nombre</td>
                <td>@item.Apellido_1</td>
                <td>@item.Apellido_2</td>
                <td>
                    <a class="btn btn-info btn-sm" asp-page="Cambio_Clave" asp-route-id="@item.Identificacion">Cambio de clave</a>
                    <a class="btn btn-warning btn-sm" asp-page="/ADM_Horarios/Detalle_Horarios" asp-route-id="@item.Identificacion">Administración de horarios</a>
                </td>
            </tr>
        }
    </tbody>
</table>